div[aria-describedby="expresscurate_dialog"]{
    padding: 0 !important;
    border-radius: 0 !important;
    border:none;
    z-index: 100091 !important;
}
.ui-widget-overlay{
    font-weight: normal;
    opacity:.6 !important;
    background: #000 !important;
    position: fixed;
    z-index: 100090;
}
div[aria-describedby="expresscurate_dialog"] .ui-dialog-titlebar{
	padding: 0;
	font-size: 13px;
	line-height: 30px;
	color: #fff;
	height: 30px;
	border:none;
    border-radius: 0;
    background-color: #222222;
}
div[aria-describedby="expresscurate_dialog"] .ui-dialog-title{
	display: block;
	text-align: center;
    width: 100%;
    background: #222222;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

div[aria-describedby="expresscurate_dialog"] .ui-button-icon-primary,
div[aria-describedby="expresscurate_dialog"] .ui-dialog-titlebar-close span{
    display: none !important;
}

div[aria-describedby="expresscurate_dialog"] .ui-dialog-titlebar-close:before{
	line-height: 13px;
}
div[aria-describedby="expresscurate_dialog"] .ui-button.ui-dialog-titlebar-close{
	padding: 0;
    background: none;
    border: none;
    width: 25px;
    height: 30px;
    position: absolute !important;
    top: 0 !important;
    margin: 0 !important;
}
div[aria-describedby="expresscurate_dialog"] .ui-dialog-titlebar-close:before{
    line-height: 20px !important;
    width: 30px !important;
    height: 30px !important;
}
div[aria-describedby="expresscurate_dialog"] .ui-button.ui-dialog-titlebar-close:hover{
    color: #9d9d9d;
}

#expresscurate_dialog {
	padding: 0;
	border:none;
}
#wp-fullscreen-buttons .mce-btn, .mce-toolbar .mce-btn-group .mce-btn, .qt-fullscreen{
	margin: 1px !important;
}
.mce-toolbar .mce-btn[aria-label='Highlight Keywords'] i{
    width: 23px !important;
    background-repeat: no-repeat;
}
#ui-datepicker-div{
    display: none;
}