
div[aria-describedby="expresscurate_dialog"] .ui-dialog-titlebar{
	padding: 0 1em;
	background: #444 !important;
	font-size: 13px;
	line-height: 24px;
	color: #fff;
	border:none;
    border-radius: 0 !important;
    height: 30px;
    font-weight: normal;
}
.ui-widget-overlay{
    z-index: 2147483647 !important;
    background: #000 !important;
    opacity:.6 !important;
}
div[aria-describedby="expresscurate_dialog"] .ui-button-icon-primary,
div[aria-describedby="expresscurate_dialog"] .ui-button-text{
    display: none !important;
}
div[aria-describedby="expresscurate_dialog"]{
    z-index: 2147483647 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    border: transparent !important;
}
div[aria-describedby="expresscurate_dialog"] .ui-dialog-title{
	display: block;
	text-align: center;
	padding: 0;
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
div[aria-describedby="expresscurate_dialog"] .ui-button.ui-dialog-titlebar-close{
    padding: 0;
    background: none;
    border: none;
    width: 25px;
    height: 30px;
    position: absolute !important;
    top: 0 !important;
    margin: 0 !important;
}
div[aria-describedby="expresscurate_dialog"] .ui-dialog-titlebar-close:before{
    line-height: 20px !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 13px;
}
div[aria-describedby="expresscurate_dialog"] .ui-button.ui-dialog-titlebar-close:hover{
    color: #9d9d9d;
}
div[aria-describedby="expresscurate_dialog"] .ui-dialog-content {
	padding: 0;
	border:none;
}
#wp-fullscreen-buttons .mce-btn, .mce-toolbar .mce-btn-group .mce-btn, .qt-fullscreen{
	margin: 1px !important;
}
