.topCuratedHeader{
	width:60%;
	cursor:pointer;
	color:#5c5c5c;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#e2e2e2;
	height:24px;
	margin-bottom:6px;
}

	.topCuratedHeader div{
		display: inline-block;
		background:url("../images/top_curated_black_arrow.png");
		background-repeat:no-repeat;
		width:7px;
		height:7px;
		margin-left:10px;
	}
	.rotatedArrow{
		background:url("../images/top_curated_green_arrow.png") !important;
		height:5px !important;
	}

.topCuratedLink{
	padding:0;
	display:none;
}
		.topCuratedLink li a{
			text-decoration:none;
			color:#5c5c5c;
		}
		
@media  (max-width: 960px){
	.topCuratedHeader{
		width:80%;
	}
}
#expresscurate_description,
#expresscurate_keywords{
  width: 100%;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

#expresscurate_keywords{
  height: 30px;
}

#expresscurate_description{
  height:75px;
  resize: none;
}
#expresscurate_open-modal{
  padding:0px 10px 0px 0px;
}
.expresscurate_button_icon{
  background: url("../images/19x19_green.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 15px;
  margin: 2px 4px;
  vertical-align: text-top;
  width: 16px;
}

.expresscurate_text{
  margin-left:5px;
  color:#9e9e9e;
}
#expresscurate_dialog {
  display: none;
}
.expresscurate_dialog {
  width: 827px;
  min-height: 525px;
  border: 1px solid #999999;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #f5f5f5;
  font-family: Verdana, arial;
}

.expresscurate_dialog_theme {
  width: 248px;
  height: 123px;
  border: 1px solid #999999;
  background: #f5f5f5;
  font-family: Verdana, arial;
  text-align: center;
  vertical-align: middle;
  display: none;
}

.expresscurate_dialog .content_editor {
  padding: 10px;
  position: relative;

}

.titlebar {
  background: #444444;
  border-bottom: 1px solid #eeeeee;
}

.titlebar h3.name {
  width: 783px;
  height: 24px;
  cursor: move;
  color: #e5e5e5;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
}

.titlebar button.close {
  width: 30px;
  height: 15px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

.main {
  padding: 5px 10px 16px;
}

.content {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin: 10px 0;
  float: left;
}

.addressbar {
  margin-bottom: 8px;
  height: 41px;
  line-height: 41px;
}

.addressbar > * {
  display: inline-block;
}

.addressbar span.label {
  color: #444444;
  font-size: 14px;
  margin-right: 17px;
}

.addressbar input {
  height: 39px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  width: 696px;
  font-size: 17px;
  padding: 0px 10px;
  color: #595959;
  float: left;
}

.addressbar button.load {
  background: url("../images/load_bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #BBBBBB;
  border-radius: 3px 3px 3px 3px;
  color: #444444;
  cursor: pointer;
  float: right;
  font-family: Verdana;
  font-size: 14px;
  height: 39px;
  margin-top: 1px;
  width: 83px;
}
.addressbar button.load:after {
  clear: both;
}

.title input {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding: 0px 10px;
  width: 785px;
  font-size: 17px;
  padding: 0px 10px;
  color: #595959;
  height: 39px;
}

.img .nav {
  position: absolute;
  top: 60px;
  left: -1px;
  width: 174px;
}

.img {
  height: 154px;
  width: 173px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
}

.img .nav a {
  background: #bcbcbc;
  height: 47px;
  line-height: 44px;
  width: 0px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: block;
  overflow: hidden;
}

.img .nav .next img, .controls .nav.next img {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.editor {
  background: #ffffff;
  /*height: 176px;*/
  width: 610px;
}
.editor textarea{
  width: 610px; 
  height: 176px;
}

.controls {
  border: 1px solid #d1d1d1;

}

.controls ul {
  list-style: none;
}

.controls li {
  float: left;
  border-left: 1px solid #f9f9f9;
  border-right: 1px solid #d8d8d8;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  margin: 0 !important;
}

.controls .tags, .controls .tags li {
  height: 35px;
}

.controls .tags {
  border-bottom: 1px solid #d1d1d1;
  padding: 0;
  margin: 0;
}

.controls .preview {
  height: 66px;
  margin: 0;
  padding: 0;
}

.controls .tags, .controls .nav {
  background-color: #f5f5f5;
  background-image: url(../images/button_bg.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  margin: 0;
  padding: 0;
}

.controls .tags li:first-child {
  border-left: 0px;
}

.controls .tags li {
  min-width: 20px;
  padding: 0px 9px;
  text-align: center;
  line-height: 35px;
  font-size: 13px;
  color: #393939;
}

.controls .preview li {
  width: 72px;
  color: #555555;
  font-size: 9px;
  line-height: 13px;
  padding: 9px 8px 18px;
  text-overflow: ellipsis;
  height: 38px;
}

.controls .preview li:hover {
  width: 72px;
  background-color: #bdbdbd; 
  color: #555555;
  font-size: 9px;
  line-height: 13px;
  padding: 9px 8px 18px;
  text-overflow: ellipsis;
  height: 42px;
}

.controls .nav {
  padding: 0px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  width: 31px;
  display: block;
}

.controls .nav.prev {
  border-right: 1px solid #d8d8d8;
}

.controls .nav.next {
  border-left: 1px solid #d8d8d8;
}

.footer {
  padding: 0 10px;
}

.footer .annotate {
  /*height: 96px;*/    
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.footer .annotate textarea{
  width: 786px;
  height: 96px;
}

.footer .labels {
  list-style: none;
}

.footer .labels li {
  background: none repeat scroll 0 0 #E1E1E1;
  border-radius: 3px 3px 3px 3px;
  color: #474747;
  float: left;
  font-size: 14px;
  height: 31px;
  line-height: 29px;
  margin: 3px;
  padding: 2px 8px;
  text-align: center;
}

.footer .labels a.remove {
  background-image: url("../images/close.png"); 
  background-repeat:no-repeat;
  background-position: center center;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  margin-left: 6px;
  text-decoration: none;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.footer .labels a.remove:hover {
  background: url("../images/close_hover.png");
}

.footer button.curate {
  margin-top: 10px;
  border: 1px solid #27cfae;
  border-radius: 3px;
  background-color: #27cfae;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  height: 39px;
  width: 153px;
  cursor: pointer;
}

.expresscurate_dialog #expresscurate_loading #img-load { 
  position:absolute;
  top: 47%;
  left: 50%;
}
.expresscurate_dialog #expresscurate_loading { 
  display:none; 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444444;
  opacity : 0.4;
  z-index: 100100;
}

.wpc{
  background-image: url(../images/wpc_19.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 19px;
  height: 19px;
}

.expresscurate_dialog iframe {
  min-height: 100px !important;
}

/*Paragraphs Slider*/
.jcarousel-container{
  background-color: #f5f5f5;
  background-image: url(../images/button_bg.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  padding: 0 40px;
  width: 705px;

}
.jcarousel-clip-horizontal {
  height: 66px;
  width: 720px;
  left: -8px;
  overflow: hidden;
}
.jcarousel-next-horizontal {
  background: url("../images/right.png") no-repeat center center;
  background-size: 100% 100%;
  border-left: 1px solid #F9F9F9;
  cursor: pointer;
  height: 66px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  margin: 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
  background: url("../images/left.png") no-repeat center center;
  background-size: 100% 100%;
  margin: 0;
  border-right: 1px solid #d8d8d8;
  cursor: pointer;
  left: 0px;
  position: absolute;
  top: 0px;
  height: 66px;
  padding: 0;
  text-align: center;
  width: 31px;

}

.column-curated{
  width: 80px;
}

.noimage{
  background-image: url("../images/noimage.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  float: none !important;
  clear: both !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

.border {
  border: 1px solid red;
}

.hidden {
  display: none;
}

/*Settings page*/

.form-table{
  margin-left: 25px;
  max-width: 877px;
}
.form-table .with-padding{
  padding-left: 20px;
}
.form-table .wide-input{
  height: 42px;
  padding: 10px;
  margin: 0px;
}
.form-table .with-max-width{
  width: 100%;
  max-width: 670px;
}
.form-table .width-for-td{
  width: 285px;
  text-align: right;
}
.gray-italic{
  color: #afafaf;
  font-size: 12px;
  font-style: italic;
}
.form-table .width-bottom-border{
  border-bottom: 1px solid #d7d7d7;
}
.form-table input{
  margin-left: 10px;
}
.form-table textarea{
  padding: 10px;
}
.form-table .centered-text{
  text-align: center;
}





