#adminmenu .toplevel_page_expresscurate div.wp-menu-image,  #adminmenu .toplevel_page_expresscurate:hover div.wp-menu-image {
  background: url("../images/19x19.png") no-repeat scroll center rgba(0, 0, 0, 0) !important;
  float: left;
  height: 28px;
  width: 28px;
}
#adminmenu .toplevel_page_expresscurate:hover div.wp-menu-image {
  background: url("../images/19x19_hover.png") no-repeat scroll center rgba(0, 0, 0, 0) !important;
}