#adminmenu .toplevel_page_expresscurate div.wp-menu-image,  #adminmenu .toplevel_page_expresscurate:hover div.wp-menu-image {
  background-image: url("../images/expresscurate_sprite.png")  !important;
  background-position: 5px 5px;
  float: left;
  height: 28px;
  width: 28px;
}
#adminmenu .toplevel_page_expresscurate:hover div.wp-menu-image {
  background-image: url("../images/expresscurate_sprite.png")  !important;
  background-position: 5px -93px;
}