
blockquote ul, ol {
  padding-left: 40px;
}
blockquote {
  position: relative;
  padding: 0 20px;
  margin: 0px 0px 30px 10px;
}
blockquote > * {
  margin-left: 10px;
}
blockquote > *:first-child {
  padding-top: 20px;
}
blockquote:before{
  left: 0px;
  width: 12px;
  height: 23px;
  position: absolute;
  display: inline-block;
  background-size: 14px auto;
  background-repeat: no-repeat;
  background-position: 0 -429px;
  background-image: url('../images/expresscurate_sprite.png');
  content: "";
}
blockquote:after {
  right: 10px;
  width: 12px;
  height: 27px;
  text-align: right;
  position: absolute;
  display: inline-block;
  background-size: 14px auto;
  background-repeat: no-repeat;
  background-position: 0 -233px;
  background-image: url('../images/expresscurate_sprite.png');
  content: "";
}
