
blockquote ul, ol {
  padding-left: 40px;
}

blockquote {
  position: relative;
  padding: 0 20px;
  margin: 0px 0px 30px 10px;
  /*    text-indent: 10px;*/
}

blockquote > * {
  margin-left: 10px;
}

blockquote > *:first-child {
  padding-top: 20px;
}

blockquote:before{
  left: 0px;
  width: 12px;
  height: 23px;
  position: absolute;
  display: inline-block;
  background-size:12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('images/openQuote.png');
  content: "";
  /*   text-indent: 0px;*/
}

blockquote:after {
  right: 10px;
  width: 12px;
  height: 27px;
  text-align: right;
  position: absolute;
  display: inline-block;
  background-size:12px;
  /* -moz-background-size:10px; */
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('images/closeQuote.png');
  content: "";
}
